# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Виртуальные окружения
venv/
.venv/

.env

# PyCharm
.idea/
*.iml

# Дистрибутивы и сборка
dist/
build/
*.egg-info/

# Временные файлы
*.log
*.tmp
*.swp
*~